<div style='text-align: center;'>
  <h1>Logs</h1>
  <%= select_tag :logs, options_for_select(@logs.map{|log| [ log[0...-4], "logs/#{log}" ] }), include_blank: true, class: :selector_for_text %>
</div>
<pre>
  <div id='white_paper'></div>
</pre>
