/* line 5, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
body {
  font-family: helvetica , sans-serif;
}

/* line 9, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.search_form {
  background-color: #e0e0e0;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
  width: 30%;
  height: 50px;
  text-align: center;
  border-radius: 0px 0px 0px 10px;
  position: absolute;
  top: 0%;
  right: 0%;
}

/* line 23, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.upload_form {
  background-color: #e0e0e0;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
  width: 30%;
  height: 50px;
  text-align: center;
  border-radius: 0px 0px 10px 0px;
  position: absolute;
  top: 0%;
  left: 0%;
}

/* line 37, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.container {
  background-color: #f0f0f0;
  padding: 20px 20px 20px 20px;
  width: 60%;
  margin: 90px auto;
  border-radius: 30px;
}

/* line 45, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.product_table, th, td {
  border: 2px solid black;
  text-align: center;
  border-radius: 3px;
  table-layout: fixed;
}

/* line 52, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.comic td {
  font-family: 'Comic Sans MS';
}

/* line 56, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.new {
  text-align: right;
}

/* line 62, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

/* line 66, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}

/* line 68, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination .disabled {
  color: #aaaaaa;
}

/* line 70, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

/* line 74, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}

/* line 78, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

/* line 82, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

/* line 85, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}

/* line 87, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination .previous_page {
  margin-right: 1em;
}

/* line 89, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_index.scss */
.flickr_pagination .next_page {
  margin-left: 1em;
}
@charset "UTF-8";
/* line 1, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_show.scss */
body {
  font-family: helvetica , sans-serif;
}

/* line 5, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_show.scss */
h1 {
  text-align: center;
}

/* line 9, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_show.scss */
#product_details {
  text-align: center;
}

/* line 13, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_show.scss */
#charts  {
  width: 100%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

/* line 21, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_show.scss */
#pie_container {
  width: 50%;
  height: 200px;
  float: left;
}

/* line 27, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_show.scss */
#histogram_container {
  margin-left: 50%;
  height: 200px;
}

/* line 32, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/product_show.scss */
.panoplie_table {
  border: 2px solid black;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
/* line 1, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/luca.mattiazzi/projects/decks/deck_rails/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

