<div class='navbar_buttons'>
  <div class="link_symbol">
    <%= link_to compute_matches_path do %>
      <i class="fa fa-link fa-2x"></i>
    <% end %>
    <div class='popup'>
      Clicca per cercare ORA le Panoplie per nuovi scontrini aggiunti.
    </div>
  </div>

  <div class="help_symbol">
    <div class='popup'>
      Clicca per accedere alle INFO.
    </div>
    <%= link_to help_path do %>
      <i class="fa fa-info-circle fa-2x"></i>
    <% end %>
  </div>
</div>
