<nav class = "navbar">

  <%= render partial: "/shared/#{left}" %>

  <%= render partial: "/shared/#{central}", locals: {title: title ||= 'empty'} %>

  <%= render partial: "/shared/#{right}" %>

  <%= render partial: '/shared/buttons' %>

</nav>
