<table class="panoplie_data">
  <colgroup>
    <col style="width: 70%;">
    <col style="width: 30%;">
  </colgroup>
  <thead>
    <tr>
      <th>Coefficiente</th>
      <th>Valore</th>
    </tr>
  </thead>
  <tbody>
    <% @panoplie_attributes.each do |attribute| %>
      <tr class=<%="#{attribute}"%> >
        <td><%= t("panoplie.#{attribute}") %></td>
        <td><%= @panoplie[attribute].round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
