<div class = "charts">
  <div id="pie_container", class="chart_container"></div>
  <div id="scatter_container", class="chart_container"></div>
  <div id="histogram_container", class="chart_container"></div>
</div>

<table class="product_data">
  <colgroup>
    <col style="width: 40%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
  </colgroup>
  <thead>
    <tr>
      <th>Nome Prodotto</th>
      <th>Codice Prodotto</th>
      <th>Vendite complementari</th>
      <th>Apri dettagli panoplie</th>
    </tr>
  </thead>
  <tbody>
    <% @panoplies.each do |panoplie| %>
    <% other_product = panoplie.other_product(@product) %>
      <tr>
        <td><%= link_to other_product[:name] || 'Nessun Nome', product_path(other_product) %></td>
        <td><%= other_product[:code] %></td>
        <td><%= panoplie[:importance] %></td>
        <td><%= link_to 'Apri panoplie', panoplie_path(panoplie.to_param) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
