<div id = "charts">
  <div id="pie_container" style="width:50%; height:400px;"></div>
  <div id="histogram_container" style="width:50%; height:400px;"></div>
</div>

<table class="panoplie_table">
  <colgroup>
    <col style="width: 40%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
  </colgroup>
  <thead>
    <tr>
      <th>Nome Prodotto</th>
      <th>Codice Prodotto</th>
      <th>Vendite complementari</th>
      <th>Valore vendite combinate</th>
    </tr>
  </thead>
  <tbody>
    <% @all_pairs[0..20].each do |pair| %>
      <tr>
        <td><%= link_to Product.find_by_code(pair[:product]).name || 'Nessun Nome', product_path(pair[:product]) %></td>
        <td><%= pair[:product] %></td>
        <td><%= pair[:sales] %></td>
        <td><%= nice_price(pair[:total_worth]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
