h1 {
  text-align: center;
}

.wrap {
  z-index: 2;
}

#product_details {
  text-align: center;
}

.product_data{
  border: 2px solid black;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.container{
  background-color: #f0f0f0;
  padding: 20px 20px 20px 20px;
  width: 60%;
  margin: 90px auto;
  border-radius: 30px;
}

.product_table, th, td{
  border: 2px solid black;
  text-align: center;
  border-radius: 3px;
  table-layout: fixed;
}

.red_text{
  color: red;
  font-weight: bolder;
}

.surprise {
  background-image: image-url("cat.jpeg");
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  z-index: 1;
}


// Pagination

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
