h1 {
  text-align: center;
}

.wrap {
  z-index: 2;
}

#product_details {
  text-align: center;

  #image_hover {
    display: none;
    position: fixed;
  }

  &:hover {
    #image_hover {
      display: inline-block;
    }
  }
}

}

.product_data{
  border: 2px solid black;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.container{
  background-color: #f0f0f0;
  padding: 20px 20px 20px 20px;
  width: 60%;
  margin: 90px auto;
  border-radius: 30px;
}

.product_table, th, td{
  border: 2px solid black;
  text-align: center;
  border-radius: 3px;
  table-layout: fixed;
}

.red_text{
  color: red;
  font-weight: bolder;
}

.surprise {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 100% 100%;
}
