// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: blue
}

.sales_table, th, td{
  border: 2px solid black;
  text-align: center;
}

.comic td{
  font-family: 'Comic Sans MS'
}
