// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: helvetica , sans-serif;
}

.navbar {
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0px;
  z-index: 1000;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.navbar_item {
  font-size: 15px;
  width: 30%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0.75;
}

.top_left {
  border-radius: 0px 0px 10px 0px;
}

.top_right {
  border-radius: 0px 0px 0px 10px;
}

.top_center {
  border-radius: 0px 0px 10px 10px;
}

.comic {
  font-family: 'Comic Sans MS';
}

.new {
  text-align: right;
}

.grey_background {
  background-color: #e0e0e0;
}

.charts {
  margin-top: 50px;
}
