<p id="notice"><%= notice %></p>
<div class="wrap">

<%= render partial: '/shared/search_form' %>

<%= render partial: '/shared/upload_form' %>

<%= render partial: '/shared/products_table' %>

</div>

