<p id="notice"><%= notice %></p>
<div class="wrap">

<%= render partial: '/shared/navbar', locals: {central: "central_index", left: "upload_form"} %>

<%= render partial: '/shared/products_table' %>

</div>

