<%= form_for(@sale) do |f| %>
  <div class="field">
    <%= f.label :sale_line %><br>
    <%= f.text_area :sale_line, cols: 80, rows: 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
