<%= form_tag({action: :upload_file, method: :post}, multipart: true) do |f| %>

  <div class="field">
    <%= label :sales_file, 'Seleziona il File da caricare' %>
    <br/>
    <%= file_field_tag :sales_file, multiple: true, accept: 'text/plain,application/excel' %>
  </div>
  <div class="actions">
    <%= submit_tag 'Salva' %>
  </div>

<% end %>
